
<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
      </a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet is-active">Home</a>
      <a class="nav-item is-tab is-hidden-tablet">Features</a>
      <a class="nav-item is-tab is-hidden-tablet">Pricing</a>
      <a class="nav-item is-tab is-hidden-tablet">About</a>

      <% if user_signed_in? %>
      <a><%= link_to 'Profile', profile_path(current_user.id), :class =>"nav-item is-tab"%></a>
      <a><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete,:class =>"nav-item is-tab"%></a>
      <% else %>
      <a><%=link_to 'Sign in', new_user_session_path, :class =>"nav-item is-tab"%></a>
      <a><%=link_to 'Register', new_user_registration_path, :class =>"nav-item is-tab"%></a>
      <% end %>
    </div>
  </div>
</nav>
